$light-tan: #f7e0b2;

.restaurant-page-img {
  width: 100%;
  height: 100%;
}

.restaurant-page {
  scroll-behavior: smooth;
}

.type-meal-link {
  text-decoration: none;
  color: black;
  letter-spacing: 1.33px;
  padding: 10px;
  font-size: 17px;
}

.type-meal-link:active {
  font-weight: bold;
  border-bottom: 2px solid $light-tan;
  padding-bottom: 25px;
}

.restaurants-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 70px 0;
}

.restaurant-item {
  margin: 15px;
}

.to-dish-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.dish-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.type-container {
  text-align: center;
  margin-bottom: 30px;
  h2 {
    text-transform: uppercase;
    position: relative;
    top: 25px;
    display: inline-block;
    background-color: #fff;
    padding: 0 20px;
    font-size: 15px;
  }
}

.type-container:first-child {
  display: none;
}

.type-line {
  height: 1px;
  background-color: black;
  width: 71%;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .restaurant-page-img {
    width: 76%;
    height: 395px;
  }
  .restaurants-container {
   margin: 0 2px;
  }
  .type-meal-link {
    font-size: 23px;
  }
  .type-container h2 {
    font-size: 25px;
    top: 36px;
  }
}
