.dish-details {
  margin: 0 auto;
}

.dish-page-img {
  width: 100%;
  height: 254px;
  bottom: 40px;
  position: relative;
}

.wrapper-dish-page {
  margin: 20px 0 0 22%;
  .outter-span {
    font-size: 20px;
  }
  .outter {
    margin-top: 4%;
  }
}

.dish-page-description {
  padding: 0 50px;
}

.add-to-bag-btn {
  height: 50px;
  margin: 97px 89px 37px 78px;
  padding: 0 50px;
  border-radius: 2px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.line {
  bottom: 20px;
  position: relative;
}

.quantity-container {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    margin: 0 10px;
  }
}

.close-dish-page {
  right: 45%;
  position: relative;
  color: white;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.dish-container {
  display: none;
}

.dish-page-icon-desktop {
  display: none;
  width: 20px;
  height: 20px;
}

.dish-page-icon {
  display: inline;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 400px) {
  .wrapper-dish-page {
    margin-left: 27%;
  }
  .dish-page-description {
    padding: 0 120px;
  }
}

@media screen and (min-width: 530px) {
  .wrapper-dish-page {
    margin-left: 30%;
  }
}

@media screen and (min-width: 800px) {
  .dish-page-img {
    width: 608px;
    height: 292px;
    bottom: 0;
  }
  .dish-container {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
  }
  .dish {
    border: 1px solid black;
    width: 608px;
    height: 1081px;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background-color: white;
  }
  .close-dish-page {
    right: 20%;
  }
  .quantity-container {
    justify-content: center;
  }
  .wrapper-dish-page {
    margin-left: 32%;
    .outter-span {
      font-size: 24px;
    }
  }
  .dish-page-icon-desktop {
    display: inline;
    position: relative;
    right: 25%;
    top: 22%;
  }
  .dish-page-icon {
    display: none;
  }
  .dish-page-description {
    padding: 0 200px;
  }
}
